@model FriendlyFood.Models.Meal

@{
    ViewData["Title"] = "Details";
}


<h1>Details</h1>

<div class="container-fluid">
    <div class="row justify-content-between">
       

            <div class="card border-danger mb-3" style="width: 15rem; ">
                <h3 class="card-header card-header-footer"><strong>@Html.DisplayFor(model => model.MealName)</strong></h3>

                <div class="card-body">
                    <h5 class="card-title"><strong>  @Html.DisplayFor(model => model.Restaurant.RestaurantName)</strong></h5>
                    <p class="card-title">  @Html.DisplayFor(model => model.Description)</p>
                    <h5 class="card-title">
                        @foreach (var meal in Model.MealDiets)
                        {
                            <p class="text-success"><strong>@Html.DisplayFor(modelItem => meal.DietType.DietName)</strong> </p>
                        }
                    </h5>

                    <div class="bottom-buttons">
                        
                        <div class="flex-row align-baseline">
                            <a asp-action="Edit" class="badge alert-warning" asp-route-id="@Model.Id">Edit</a> |
                           
                            <a asp-action="Index" class="badge alert-danger">Back To List</a>
                        </div>
                    </div>
                </div>
            </div>

        
    </div>
</div>