@model FriendlyFood.Models.Meal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Meal</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MealName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MealName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restaurant.RestaurantName)
        </dd>
        @*<dt class="col-sm-2">
            Diet
        </dt>
        <dd class="col-sm-10">
            @foreach (var meal in Model.MealDiet)
            {
                <li>@Html.DisplayFor(modelItem => meal.DietType.DietName) </li>
            }
        </dd>*@

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
