@model IEnumerable<FriendlyFood.Models.Meal>

@{
    ViewData["Title"] = "Index";
}

    <div>
        <form asp-controller="Meals" asp-action="Index">
            <div class="input-group">
                <input type="text" name="searchString" class="form-control" placeholder="Search by Meal or Restaurant" />
                <span class="input-group-btn">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </span>
            </div>
        </form>
    </div>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MealName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MealName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restaurant.RestaurantName)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                <form asp-controller="Favorites" asp-action="AddMealToFavorites">
                    <input type="hidden" name="id" value="@item.Id" />
                    <input type="submit" class="btn alert-primary" id="btn-@item.Id" value="Add to Favorites" />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
