@model FriendlyFood.Models.ViewModels.FavoritesViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Favorites</h1>

<table class="table">
    <thead>
        <tr class="table-success">
            <th scope="row">
                Favorite Meal
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FavoriteMeal)
        {
            <tr>
                <td>
                    <strong> @Html.DisplayFor(modelItem => item.Meal.MealName)</strong>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Meal.Description)
                </td>
                <td>
                    <strong>   @Html.DisplayFor(modelItem => item.Meal.Restaurant.RestaurantName) </strong>
</td>
                <td>


                    <a asp-action="Delete" class="badge alert-danger" asp-route-id="@item.Id">Delete</a>


                </td>

            </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
        <tr class="table-success">
            <th scope="row">
                @Html.DisplayNameFor(model => model.FavoriteRestaurant)
            </th>



            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FavoriteRestaurant)
        {
            <tr>
                <td>
                    <strong>@Html.DisplayFor(modelItem => item.Restaurant.RestaurantName)</strong>
                </td>
                <td>
                    <strong>  @Html.DisplayFor(modelItem => item.Restaurant.Cuisine.CuisineName)</strong>
                </td>
                <td>


                    <a asp-action="Delete" class="badge alert-danger" asp-route-id="@item.Id">Delete</a>


                </td>


            </tr>
        }
    </tbody>
</table>







