@*@model FriendlyFood.Models.Restaurant

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Restaurant</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RestaurantName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RestaurantName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cuisine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cuisine.CuisineName)
        </dd>
        <dt class="col-sm-2">
            Diet
        </dt>
        <dd class="col-sm-10">
            @foreach (var restaurant in Model.RestaurantDiets)
            {
                <li>@Html.DisplayFor(modelItem => restaurant.DietType.DietName) </li>
            }
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@


@model FriendlyFood.Models.Restaurant

@{
    ViewData["Title"] = "Details";
}


<h1>Details</h1>

<div class="container-fluid">
    <div class="row justify-content-between">


        <div class="card border-danger mb-3" style="width: 15rem; ">
            <h3 class="card-header card-header-footer"><strong>@Html.DisplayFor(model => model.RestaurantName)</strong></h3>

            <div class="card-body">
                <h5 class="card-title"><strong>@Html.DisplayFor(model => model.Cuisine.CuisineName)</strong></h5>
                <h5 class="card-title"> @Html.DisplayFor(model => model.Address)</h5>
                <h5 class="card-title"> @Html.DisplayFor(model => model.City)</h5>
                <h5 class="card-title">  @Html.DisplayFor(model => model.ZipCode)</h5>
                @foreach (var meal in Model.RestaurantDiets)
                {
                    <p class="text-success"><strong>@Html.DisplayFor(modelItem => meal.DietType.DietName)</strong> </p>
                }
                </h5>

                <div class="bottom-buttons">

                    <div class="flex-row align-baseline">
                        <a asp-action="Edit" class="badge alert-warning" asp-route-id="@Model.Id">Edit</a> |

                        <a asp-action="Index" class="badge alert-danger">Back To List</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>