@model IEnumerable<FriendlyFood.Models.Restaurant>

@{
    ViewData["Title"] = "Index";
}



    <div>
        <form asp-controller="Restaurants" asp-action="Index">
            <div class="input-group">
                <input type="text" name="searchString" class="form-control" placeholder="Search by Restaurant, Address, Zipcode, or Cuisine" />
                <span class="input-group-btn">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </span>
            </div>
        </form>
    </div>

    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RestaurantName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ZipCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cuisine)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RestaurantName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cuisine.CuisineName)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    <form asp-controller="Favorites" asp-action="AddRestaurantToFavorites">
                        <input type="hidden" name="id" value="@item.Id" />
                        <input type="submit" class="btn alert-primary" id="btn-@item.Id" value="Add to Favorites" />
                    </form>
                    @*<label asp-for="Diets" class="control-label"></label>
                    <select asp-for="" class="form-control" asp-items="@Model.DietType"></select>
                    <span asp-validation-for="" class="text-danger"></span>*@
                </td>

            </tr>
            }
        </tbody>
    </table>
