@model IEnumerable<FriendlyFood.Models.Restaurant>

@{
    ViewData["Title"] = "Index";
}


    <h1>Restaurants</h1>
    <div class="search-bar-pad">
        <form class="form-inline my-2 my-xl-0" asp-controller="Restaurants" asp-action="Index">
            <div class="input-group">
                <input class="search-bar-box" type="text" name="searchString"  placeholder="Search by Restaurant, Address, Zipcode, or Cuisine" />
                <span class="input-group-btn">
                    <input type="submit" value="Search" class="btn btn-danger my-3 my-sm-0" />
                </span>
            </div>
        </form>
    </div>
        


    <div class="create-button">
        
     <a asp-action="Create" class="btn alert-danger">Create New Restaurant</a>
        
    </div>
<div class="container-fluid">
    <div class="row justify-content-between" >
        @foreach (var item in Model)
        {
            
                    <div class="card border-danger mb-3" style="width: 15rem; ">
                        <h3 class="card-header card-header-footer"><strong>@Html.DisplayFor(modelItem => item.RestaurantName)</strong></h3>

                        <div class="card-body">
                            <h5 class="card-title"><strong> @Html.DisplayFor(modelItem => item.Cuisine.CuisineName)</strong></h5>
                            <h5 class="card-title"> @Html.DisplayFor(modelItem => item.Address)</h5>
                            <h5 class="card-title"> @Html.DisplayFor(modelItem => item.City)</h5>
                            <h5 class="card-title"> @Html.DisplayFor(modelItem => item.ZipCode)</h5>

                            <div class="bottom-buttons">
                                <form asp-controller="DietTypes" asp-action="GetDiet">
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <input type="submit" class="btn-block text-light alert-primary" id="btn-@item.Id" value="Add Diet Tag" />
                                </form>

                                <form asp-controller="Favorites" asp-action="AddRestaurantToFavorites">
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <input type="submit" class="btn-block text-light alert-danger" id="btn-@item.Id" value="Add to Favorites" />
                                </form>
                                <div class="flex-row align-baseline">
                                    <a asp-action="Edit" class="badge alert-warning" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-action="Details" class="badge alert-info" asp-route-id="@item.Id">Details</a> |
                                    <a asp-action="Delete" class="badge alert-secondary" asp-route-id="@item.Id">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
              
        }
    </div>
</div>